@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    align-items: center;
    justify-content: center;
}
.card {
    width: 250px;
    color: black;
    border: 2px  black;
    align-items: center;
    margin-left: 40%;
    margin-top: 5%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 25px;
}
.product-image {
    width: 100%;
    border-radius: 25px;
}
h3 {
    font-family: "quicksand", sans-serif;
}
p {
    font-family: "quicksand", sans-serif;
}
button {
    height: 30px;
    margin-left: 36%;
}
.icon {
    height: 30px;
    margin-left: 36%
}
.describe {
    border: 2px solid;
    border-radius: 25px;
    padding-left: 36%;
    background-color: white;
}
.fr{
    margin-right: 15px;
}
.fa-star{
    color: gold;
}